body {
    margin: 0px;
}

main {
    display: flex;
}

#ingame-top-box {
    display: flex;
    background-color: #FF9933;
    justify-content: space-between;
}

#round-hint-box {
    display: flex;
    align-items: center;
}

#restart-button {
    visibility: hidden;
}

#checkerboard {
    background: linear-gradient(90deg, rgba(161,90,0,1) 0%, rgba(159,141,39,1) 43%, rgba(255,177,0,1) 100%);
    display: block;
    cursor: pointer;
}

#chat-box {
    width: 100%;
    height: 570px;
    min-width: 500px;
    margin-right: auto;
    padding-left: 20px;
}

#text-input-box {
    display: flex;
}

#text-area {
    width: 100%;
    height: 100%;
    padding: 0px;
    resize: none;
}

#text-input {
    width: 100%;
}

@media(max-width: 620px) {
    main {
        display: block;
    }
    header {
        min-width: 600px;
    }
    #chat-box {
        width: 100%;
        min-width: 300px;
        padding-top: 20px;
        padding-left: 0px;
    }
}
