main {
    display: flex;
}

#checkerboard-box {
    width: 80%;
}

#checkboard {
    width: auto;
    height: auto;
}

#chat-box {
    width: 20%;
    min-width: 500px;
}

#text-area {
    width: 100%;
    height: 50vh;
    padding: 0px;
    resize: none;
}

@media(max-width: 1000px) {
    main {
    display: block;
}
    #chat-box {
        width: 20%;
        min-width: 300px;

    }
}
