main {
    display: flex;
}

/* #checkerboard-box {

} */

#checkboard {
    max-width: auto;
    max-height: auto;
}

#chat-box {
    /* margin: auto; */
    padding: 20px;
    width: 30%;
    min-width: 500px;
}

#text-area {
    width: 100%;
    height: 50vh;
    padding: 0px;
    resize: none;
}

@media(max-width: 400px) {
    main {
    display: block;
    }
    #chat-box {
        width: 20%;
        min-width: 300px;
        padding-top: 20px;
    }
}
